*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mainColor: #343331;
    --secondColor: #f67601;
    --baseColor:#814510;
}
body{
    height: 100vh;
    background-color: #1684e5;
    background: linear-gradient(0deg, rgba(170,215,255,1) 0%, rgba(22,132,229,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.base{
    position: relative;
    z-index: -1;
    margin-top: -35px;
    width: 100%;
    height: 30vh;
    background-color: #814510;
}
.main-color {fill: var(--mainColor);}
.second-color {fill: var(--secondColor);}
.base-fondo {fill: var(--baseColor);}
.black {fill: #000000;}
.white {fill: #ffffff;}
.tongue {fill:#fe878f;}

.stroke{
    stroke:#000000;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.stroke-hard {stroke-width:4px;}
.stroke-light {stroke-width:2px;}
.void {fill: none;}
.marker{
    marker-start:url(#marker_2);
    marker-end:url(#marker_1)
}
#perro {cursor: pointer;}
#boca {opacity: 0;}
#cabeza {transform: translateY(60px);}

#perro:hover #boca{
    animation: mostrar 0s linear 1s 1 forwards;
}
#perro:hover #cabeza{
    animation: movimiento 1s linear 0s 1 forwards;
}
@keyframes movimiento {
    0%{transform: translateY(60px);}
    100%{transform: translateY(0px);}
}
@keyframes mostrar{
    0%{opacity: 0;}
    100%{opacity: 1;}
}