.repo-link{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
}
.arm{
    transform-origin: 130px 106px;
}
.icon:hover .arm{
    animation: arm-movement .6s ease-in-out;
}
@keyframes arm-movement {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}