*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    min-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255,126,71);
    background: linear-gradient(0deg, rgba(255,126,71,1) 0%, rgba(243,83,107,1) 100%);
}
.horizontal{min-height: 490px;}

.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 10px #0000008a;
}

ellipse, path{
    fill:#ffffff;
    stroke:#000000;
    stroke-width:4px;
    stroke-linecap:round;
    stroke-linejoin:round;
}
#textura path {stroke-width:2px;}

.lienzo ellipse:hover, .lienzo path:not(#textura path):hover{
    stroke-width: 6px;
    stroke-dasharray: 10px 20px;
    animation: bordes 1s linear infinite;
}

@keyframes bordes {
    0% {stroke-dashoffset: 0px;}
    100% {stroke-dashoffset: 30px;}
}
.lienzo{
    width: 350px;
    padding: 30px;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
}
.control{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    height: 100px;
    width: 350px;
    border: 2px solid black;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}
.control span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
@media screen and (max-width:400px) {
    .repo-link{
        width: 60px;
        height: 60px;
    }
}
